.sar{
    text-align: center;
}   
.mus{
    margin-top: 60px;
}
.rasm{
    margin-left: 475px;
    margin-top: -127px;
}
.vi{
    margin-left: 950px;
    margin-top: -127px;
}
.tug{
    text-align: center;
    margin-top: 30px;
}