* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.left {
    color: #ffffff;
}

.active {
    color:red  !important;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.center ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.center ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #707070;
    padding: 5px 10px;
}

.center ul li a:hover {
    color: red !important;
    font-size: 30px;
}

.right button.sign {
    background-color: #306ef7;
    font-weight: 500px;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */ 
    color: #fff;
    border: 0;
    border-radius: 10px;
    padding: 12px 22px;
}
.right button.sign a {
    text-decoration: none;
}

button.login {
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    border: 0;
    margin-right: 24px;
    list-style: none;
    /* identical to box height, or 150% */
    color: #707070;
}

.BU{
    text-decoration: none;
}

.login:hover {
    font-size: 40px;
    color: #fff;
}

.second h1.one {
    font-weight: bold;
    font-size: 112px;
    line-height: 168px;
    /* identical to box height, or 150% */
    color: #ffffff;
    text-align: center;
}

.second h1.two {
    font-size: 112px;
    line-height: 168px;
    /* identical to box height, or 150% */
    color: yellow;
    text-align: center;
}

.second h1.two:hover {
    color: #ffbf84;
    background-color: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
}

.three h2 {
    position: absolute;
    width: 694px;
    height: 120px;
    left: 613px;
    top: 646px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
    text-align: center;
    color: #ffffff;
}
.photo {
    margin-top: 499px;
}
.text {
    margin-left: 630px;
    margin-top: -600px;
    color: #fff;
}
.text h2.text1:hover {
    color: #707070;
}
.foto {
    margin-top: 50px;
    margin-left: 480px;
}
.fototext {
    text-align: center;
    margin-right: 800px;
    margin-top: -545px;
    color: #fff;
}
.end {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
#in{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 800px;
}
#si{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 800px;
}
.but button{
    margin-top: 80px;
    margin-left: 1050px;
    font-size: 40px;
    background-color: #306ef7;
    color: #fff;
    border-radius: 15px;
}
.but button a{
    text-decoration: none;
}
#lo{
    color: #fff;
    margin-top: 100px;
    margin-left: 560px;
    font-size: 50px;
}
.kh button{
    background-color: blue;
    font-size: 40px;
    border-radius: 15px;
    margin-top: 70px;
    margin-left: 1060px;
}
.kh button a{
    text-decoration: none;
    color: #fff;
}
.gf input{
    margin-top: 30px;
    margin-left: 400px;
    width: 140px;
    height: 30px;
}
.fg input{
    margin-top: 20px;
    margin-left: 400px;
    width: 140px;
    height: 30px;
}
.em input{
    margin-top: 20px;
    margin-left: 400px;
    width: 250px;
    height: 25px;
}
.po input{
    margin-top: 20px;
    margin-left: 400px;
    width: auto;
    height: auto;
}
.por input{
    margin-top: 20px;
    margin-left: 400px;
    width: auto;
    height: auto;
}
#uj{
    background-color: #fff;
}
.div{
    border: solid 1px;
    width: 1000px;
    height: 400px;
    margin-top: 80px;
    margin-left: 360px;
}
.butt{
    margin-top: 50px;
    margin-left: 600px;
}
.butt a{
    text-decoration: none;
    font-size: 20px;
}
.foy{
    color: yellow;
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}
.box {
    color:mediumpurple;
    text-align: center;
    margin-top: 70px;
}
.box2 input {
    margin-top: 70px;
    margin-left: 1500px;
    font-size: 20px;
}
.box3 button{
    background-color: #306ef7;
    margin-top: 30px;
    margin-left: 1660px;
}
.box3 button a { 
    text-decoration: none;
    font-size: 20px;
}
.yub{
    color: #fff;
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
}
.ju button{
    background-color:#306ef7 ;
    margin-top: 90px;
    margin-left: 1100px;
    font-size: 30px;
    border-radius: 30px
}
.ju button a {
    text-decoration: none;
}