table {
    border: 2px solid red;
}

tr {
    border: 2px solid red;
}

.jadval {
    margin: 10px;
    border: 2px solid blue;
    border-radius: 30px;
    margin: 30px;
    padding: 20px;
    background-color: green;
    color: yellow;
}

td {
    vertical-align: center;
}

tr {
    height: 40px;
}

.royhat {
    background-color: red;
    border: 5px solid yellow;
    border-radius: 50px;
    margin: 30px;
    padding: 20px;
    color: cyan;
}